[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
scrapy = "~=2.4.1"
scrapyd = "~=1.2.1"
scrapyd-client = "~=1.1.0"
selenium = "~=3.141.0"
requests = "~=2.25.1"
django = "~=3.2"
djangorestframework = "~=3.12.4"
django-cors-headers = "~=3.7.0"
django-extensions = "~=3.1.3"
drf-yasg = "~=1.20.0"
python-dotenv = "~=0.17.1"
psycopg2-binary = "~=2.8.6"

[requires]
python_version = "3.8"
