/* Selected palette: https://colorhunt.co/palette/2763*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #393e46;
  color: #fff;
}

.cover {
  text-align: center;
  padding-top: 15%;
  padding-bottom: 4%;
  height: 45%;
  background-image: url("./assets/background.jpg");
}

.sub-color {
  /*color: #96bb7c*/
  color: #86b300;
}

.body-container {
  margin: 2% 0;
  width: 100%;
}

.some-space-please {
  margin-bottom: 2%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
