/* Selected palette: https://colorhunt.co/palette/2763*/

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #393e46;
    color: #fff;
}

.cover {
    text-align: center;
    padding-top: 15%;
    padding-bottom: 2%;
    height: 45%;
    background-image: url("./assets/background.jpg");
}

.sub-color {
    /*color: #96bb7c*/
    color: #86b300;
}

.body-container {
    margin: 2% 0;
    width: 100%;
}

.some-space-please {
    margin-bottom: 2%;
}

.my-modal {
    margin-top: 2%;

    max-height: 95vh;
    overflow: auto;
}

.center-modal {
    margin: 0 auto;
    width: 85%;
    padding: 1% 2%;
    background-color: #282c34;
}

.modal-image {
    /*border-radius: 50%;*/
    position: relative;
    top: 0;
}

.spinner-wrapper {
    margin-top: 10%;
}

.site-box-wrapper {
    margin-top: 10px;
}

.site-box {
    border: #86b300 2px solid;
    border-radius: 5px;
    margin: auto;
    padding-top: 5px;
    padding-left: 20px;
    overflow: auto;
    width: 25%;
    max-height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
}

.search-alert {
    width: 40%;
    margin: auto;
}

.pagination-wrapper {
    margin: auto;
    padding: 40px 0;
    color: white;
    width: 20%;
}